<template>
  <div class="slideshow-container">
    <div class="slides animate-right" :style="{'height': height}" v-for="(item, index) in items" :key="index" v-show="index === currentSlide">
      <div class="text-block">
        <p class="header">
          <span v-html="item.header"></span>
        </p>
        <p class="sub-header">{{item.subHeader}}</p>
      </div>
      <!-- <img src="@/assets/carousel1.png" alt=""> -->
      <img :src="item.img" alt="">
    </div>
    <a @click="selectNextPrevSlide(-1)" class="prev">&#10094;</a>
    <a @click="selectNextPrevSlide(1)" class="next">&#10095;</a>
    <div class="slide-selector">
      <span @click="selectSlide(index)" v-for="(item, index) in items" :key="index" class="dot" :class="{'active' : index === currentSlide}"></span>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    items: {
      required: true,
      type: Array,
    },
    height: {
      type: [String, Number],
      default: '100%'
    },
    slideShow: {
      type: Boolean,
      default: false
    },
    interval: {
      type: [Number, String],
      default: 10000
    }
  },
  data() {
    return {
      currentSlide: 0,
      intervals: null
    }
  },
  computed: {
    // CHECK IF STILL HAS NEXT ITEM
    hasNext() {
      return (this.currentSlide + 1) === this.items.length ? false : true;
    },
    // CHECK IF STILL HAS PREVIOUS ITEM
    hasPrevious() {
      return (this.currentSlide + 1) === 1 ? false : true;
    }
  },
  methods: {
    selectSlide(index) {
      this.currentSlide = index;
    },
    selectNextPrevSlide(n) {
      window.clearInterval(this.intervals);
      this.changeSlide(n);
      this.slider();
    },
    changeSlide(n) {
      if (n > 0) {
        this.currentSlide = this.hasNext ? (this.currentSlide + n) : 0; //CHECK IF HAS NEXT ITEM THEN RETURN TO FIRST INDEX IF NOT
      } else {
        this.currentSlide = this.hasPrevious ? this.currentSlide + n : (this.items.length - 1); //CHECK IF HAS PREVIOUS ITEM THEN RETURN GO TO LAST INDEX IF NOT
      }
    },
    slider() {
      // SET INTERVAL IF SLIDE SHOW IS ENABLED
      if (this.slideShow) {
        this.intervals = window.setInterval(() => {
          this.changeSlide(1)
        }, this.interval)
      }
    }
  },
  mounted() {
    this.slider();
  }
}
</script>
<style lang="scss">
.slideshow-container {
  height: inherit;
  position: relative;
  margin: auto;
  .slides {
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }
  .text-block {
    max-width: 50%;
    position: absolute;
    top: 27%;
    right: 20px;
    padding-right: 123px;
    text-align: right;
    .header {
      line-height: 110px;
      margin: 0;
      font-size: 3.75em;
      font-weight: bold;
      span {
        background-color: rgba(0, 0, 0, 1);
        padding: 15px;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        color: white;
        margin: -15px;
      }
      mark {
        background-color: rgba(0, 0, 0, 1);
        color: white;
      }
    }
    .sub-header {
      font-weight: 500;
      font-size: 1.75em;
      letter-spacing: 5px;
      padding: 0;
      margin: 0;
      padding: 15px 0;
      color: black;
      margin: 0 -15px;
    }
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 0 50px;
    color: black;
    font-weight: bold;
    font-size: 2em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

  .slide-selector {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 51px 5px;
      // padding: 0 5px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      :hover {
        background-color: #717171;
      }
      &.active {
        background-color: black;
      }
    }
  }

  .animate-right{position:relative;animation:animateright 1s}
  @keyframes animateright{from{right:-300px;} to{right:0;}}
}
</style>
