<template>
  <div class="copyright">
    <span>Copyright©2007-2019 Blog Inc.</span>
  </div>
</template>
<style lang="scss">
  .copyright {
    height: 90PX;
    width: 100%;
    background-color: #101010;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
</style>
