
<template>
  <div>
    <slot></slot>
    <vue-modal height="150px" v-model="showModal">
      <p v-html="message"></p>
    </vue-modal>
  </div>
</template>

<script>
import _ from 'lodash';
export default {
  name: "error-boundary",
  props: {
    stopPropagation: Boolean
  },
  data() {
    return {
      err: false,
      vm: null,
      info: null,
      showModal: false,
      message: ''
    };
  },
  errorCaptured(err, vm, info) {
    this.err = err;
    this.vm = vm;
    this.info = info;
    this.showModal = true;
    this.message = err;
    return !this.stopPropagation;
  }
};
</script>

<style lang="scss" scoped>
</style>
