<template>
  <div class="footer">
    <div class="footer-content">
      <div class="blog-image-footer-placeholder">
        <img class="blog-image-footer" src="@/assets/download.png" alt="">
      </div>
      <div class="text">
        <span><strong>サンプルテキストサンプル ルテキストサンプルテキストサンプルテキストサンプル ルテキスト</strong></span>
      </div>
    </div>
    <div @click="scrollTop"  class="scroll-top">
      <div class="col-12">
        <chevron-up-icon :size="38"></chevron-up-icon>
      </div>
      <div class="col-12">
        <h4 class="title">
          TOP
        </h4>
      </div>
    </div>
  </div>
</template>
<script>
import ChevronUpIcon from 'vue-material-design-icons/ChevronUp.vue';

export default {
  components: {
    ChevronUpIcon
  },
  methods: {
    scrollTop: function () {
      console.log(this.$root.$el, 'refs');
      let content = this.$root.$el.querySelector(".content");
      this.intervalId = setInterval(() => {
      if (window.pageYOffset === 0) {
        clearInterval(this.intervalId)
      }
      content.scroll(0, window.pageYOffset - 50)
      }, 20)
    },
  }
}
</script>
<style lang="scss" >
  .footer {
    position: relative;
    height: 274px;
    width: 100%;
    background-color: #292929;
    color: white;
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    .footer-content {
      padding: 78px 0 0 123px;
    }
    .blog-image-footer-placeholder {
      width: 100%;
      text-align: left;
    }
    .text {
      width: 75%;
      text-align: left;
      padding-top: 47px;
      font-size: 1em;
    }
    .scroll-top {
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      bottom: 0;
      right: 123px;
      height: 70px;
      width: 70px;
      background-color: #FFFFFF;
      color: #101010;
      div {
        position: relative;
      }
      .icon {
        margin: 0;
        font-size: 1.2em;
        font-weight: 600;
      }
      .title {
        margin: -20px;
        font-size: 1em;
        font-weight: 700;
      }
    }
  }
</style>
