<template>
  <div class="error-404">
    <div :style="{'height': '100%'}">
      <div class="error-404-content">
        <img src="/static/error/404.svg" alt="">
        <div class="headline">
          <h1>404</h1>
          <h2>Sorry, page not found</h2>
          <div>
            <vue-button @click="$router.push({name: 'Home'})">Go Home</vue-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    home() {
      return this.$_.get(this.$route, 'meta.homePage', '')
    }
  }
};
</script>
<style lang="scss">
.error-404 {
  height: 60vh;
  .error-404-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .headline {
    text-align: center;
  }
}
h1 {
  font-size: 150px;
  line-height: 150px;
  font-weight: 700;
  color: #252932;
  text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
}
</style>
