<template>
  <div class="topbar">
    <!--  -->
    <div class="topbar-content">
      <img class="blog-image-header" src="@/assets/blog.png" alt="">
      <!-- @TODO SET BUTTON PER PAGE -->
      <button class="action-button" @click="redirectTo" v-if="!isAuthenticated">
        <strong>{{actionTitle}}</strong>
      </button>
      <button @click="logout" class="action-button" v-else><strong>LOGOUT</strong></button>
      <!-- @TODO LOGOUT BUTTON IF AUTHENTICATED -->
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex';
import _ from 'lodash';
export default {
  computed: {
    ...mapState({
      isAuthenticated: state => state.users.isAuthenticated
    }),
    actionTitle() {
      return _.get(this.$route, 'meta.topbarAction.title', '')
    },
    redirect() {
      return _.get(this.$route, 'meta.topbarAction.to', '/')
    }
  },
  methods: {
    redirectTo() {
      this.$router.push(this.redirect)
    },
    logout() {
      this.$store.dispatch('users/logout');
      const path = '/'
      if (this.$route.path !== path) this.$router.push({name: 'Home'})
    }
  }
}
</script>
<style lang="scss">
  .topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    .topbar-content {
      height: 100%;
      display: flex;
      align-items: center;
      .blog-image-header {
        padding-left: 123px;
      }
      .action-button {
        margin-left: auto;
        margin-right: 123px;
        width: 121px;
        height: 41px;
        font-size: 1.125em;
        text-align: right;
        border: 0px;
        background: 0;
        outline:none;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
      }
    }

  }
</style>
