<template>
  <div class="upload-image">
    <div class="dropbox"
    :class="[dragging ? 'dropzone-over' : '']"
    @drop.prevent="handleImage($event.dataTransfer.files)"
    @dragover.prevent
    @dragenter="dragging=true;"
    @drop="dragging=false"
    @dragleave="dragging=false">
      <input @change="handleImage($event.target.files)" ref="file" type="file" class="input-file" accept="image/*" >
      <!-- <img class="image-preview" src="@/assets/carousel1.png" alt=""> -->
      <img class="image-preview" :src="imageSrc" alt="">
      <vue-button @click="$refs.file.click()" class="upload-button">UPLOAD IMAGE</vue-button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      image: '',
      dragging: false
    }
  },
  computed: {
    imageSrc() {
      return this.image ? this.image : this.value
    }
  },
  methods: {
    async handleImage(files) {
      console.log(event.target.files)
      const selectedImage = files[0]
      this.image = await this.createBase64Image(selectedImage);
      this.$emit('input', this.image);
    },
    async createBase64Image(file) {
      return  new Promise((resolve, reject) => {
          const reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onload = () => resolve(reader.result);
          reader.onerror = error => reject(error);
      })
    }
  }
}
</script>
<style lang="scss">
.upload-image {
  display: flex;
  justify-content: center;
  position: relative;
  .dropbox {
    height: 540px;
    width: 100%;
    background-color: #D6D6D6;
    .input-file {
      z-index: 2;
      opacity: 0;
      width: 100%;
      height: 100%;
    }
    .image-preview {
      width: inherit;
      height: inherit;
      position: absolute;
      left: 0;
      top: 0;
    }
    .upload-button {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &.dropzone-over {
      outline: 3px dashed #2E94C4;
    // outline-offset: -10px;
    }
  }

}
</style>
