<template>
  <button :disabled="disabled" @click="$emit('click')" class="vue-button" :style="{'height': height, 'width': width}">
    <slot></slot>
  </button>
</template>
<script>
export default {
  props: {
    height: {
      type: [String, Number],
      default: '70px'
    },
    width: {
      type: [String, Number],
      default: '340px'
    },
    disabled: {
      type: [Boolean],
      default: false
    }
  }

}
</script>
<style lang="scss">
  .vue-button {
    cursor: pointer;
    background-color: #101010;
    color: white;
    border: 0;
    font-size: 1.25em;
    font-weight: 600;
    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
</style>
