<template>
  <div v-show="value" class="modal">
    <!-- Modal content -->
    <div class="modal-content" :style="{'height': height, 'width': width}">
      <span class="close" @click="close">&times;</span>
      <div class="modal-content-slot">
        <slot></slot>
      </div>
      <div class="modal-footer">
        <slot name="action"></slot>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    height: {
      type: String,
      default: '20%'
    },
    width: {
      type: String,
      default: '500px'
    }
  },
  methods: {
    close() {
      this.$emit('cancel', true);
      this.$emit('input', false);
    }
  }
}
</script>
<style lang="scss">
.modal {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

  .modal-content {
    background-color: #fefefe;
    // margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    min-height: 100px;
    max-height: 80%;
    .modal-content-slot {
      padding-top: 50px
    }
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .modal-action {
    button {
      cursor: pointer;
      border: 0;
      min-width: 70px;
      height: 50px;
      margin: 0 20px;
      font-size: 1.25em;
    }

  }
}
</style>
