<template>
  <div class="vue-textarea">
      <textarea
      :placeholder="placeholder"
      :class="{'error' : hasError}"
      :style="{'height': height, 'width': width, 'padding': padding}"
      v-bind:value="value"
      v-on:input="$emit('input', $event.target.value)"
      :id="name"
      :name="name"/>
      <span class="error" v-show="hasError" v-html="errorMessage"></span>
      <span class="break"></span>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: 'text-field' + Math.random()
    },
    height: {
      type: [String, Number],
      default: '200px'
    },
    width: {
      type: [String, Number],
      default: '100%'
    },
    padding: {
      type: String,
      default: '40px'
    },
    hasError: {
      type: Boolean,
      default: false
    },
    errorMessage: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
  },
  methods: {
    input() {

    }
  }
}
</script>
<style lang="scss">
.vue-textarea {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  textarea {
    flex-grow: 1;
    // width: 100%;
    font-size: 1.1875em;
    // height: 200px;
    outline: none;
    &.error {
      border: 1px solid red;
    }

    &::placeholder {
      font-style: italic;
    }
  }
  .error {
    color: red;
  }
  .break {
    margin-bottom: 20px;
    width: 100%;
  }
}
</style>
