<template>
  <div class="vue-text-field">
      <label :class="{'error' : hasError}" v-show="label" :for="name">{{label}}</label>
      <input
      :class="{'error' : hasError}"
      :style="{'height': height, 'width': width}"
      v-bind:value="value"
      v-on:input="$emit('input', $event.target.value)"
      :type="type" :id="name" :name="name">
      <span class="error" v-show="hasError" v-html="errorMessage"></span>
      <span class="break"></span>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: 'text-field' + Math.random()
    },
    label: {
      type: String,
      default: ''
    },
    height: {
      type: [String, Number],
      default: '60px'
    },
    width: {
      type: [String, Number],
      default: '100%'
    },
    type: {
      type: String,
      default: 'text'
    },
    hasError: {
      type: Boolean,
      default: false
    },
    errorMessage: {
      type: String,
      default: ''
    }
  },
  methods: {
    input() {

    }
  }
}
</script>
<style lang="scss">
.vue-text-field {
  display: flex;
  flex-wrap: wrap;
  label {
    width: 100%;
    text-align: left;
    font-size: 1.125em;
    color: #101010;
    padding-bottom: 5px;
    &.error {
      color: red;
    }
  }
  input {
    border-radius: 0;
    border: 1px solid black;
    outline: none;
    font-size: 1.125em;
    &.error {
      border: 1px solid red;
    }
  }
  .error {
    color: red;
  }
  .break {
    margin-bottom: 20px;
    width: 100%;
  }
}
</style>
