<template>
  <div class="login-form container">
    <div class="col login-form-content">
        <div class="col-12">
          <h1 class="header">LOGIN</h1>
        </div>
        <vue-text-field :hasError="$v.email.$error" :errorMessage="emailErrorMessage" name="email" v-model="email" label="Email"></vue-text-field>
        <vue-text-field :hasError="$v.password.$error" errorMessage="Password is required" type="password" name="password" v-model="password" label="Password"></vue-text-field>
        <div class="col-12 login-button">
          <vue-button :disabled="loading" @click="login" width="460px">LOGIN</vue-button>
        </div>
        <div class="col12 no-account">
          <!-- @TODO SHOW REGISTER FORM -->
          <p @click="$router.push({name: 'Register'})">No account yet?&nbsp;<span><strong><a>REGISTER HERE</a></strong></span></p>
        </div>
    </div>
  </div>
</template>
<script>
import {mapState} from 'vuex';
import { required, email } from 'vuelidate/lib/validators'

export default {
  data() {
    return {
      email: '',
      password: ''
    }
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    },
  },
  computed: {
    ...mapState({
      loading: state => state.users.loading
    }),
    emailErrorMessage() {
      let message = !this.$v.email.required ? 'Email is required' : (!this.$v.email.email ? 'Email is not valid!' : '');
      return message;
    },
  },
  methods: {
    async login() {
      this.$v.$touch();

      if (this.$v.$pending || this.$v.$error) {
        return;
      }

      try {
        await this.$store.dispatch('users/authenticate', {email: this.email, password: this.password})
        this.$router.push({name: 'Home'})
      } catch(err) {
        console.log(err ,'error');
        this.reset();
        throw err;
      }
    },
    reset() {
      this.$v.$reset();
      this.email = '';
      this.password = '';
    }
  }
}
</script>
<style lang="scss">
.login-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  .login-form-content {
    max-width: 460px;
  }
  .header {
    text-align: left;
    font-size: 1.875em;
    margin: 0 0 48px;
    color: #101010;
    // margin-bottom: 48px;
  }
  .login-button {
    text-align: left;
  }
  .no-account {
    margin: 35px 0;
    font-size: 1.125;
    cursor: pointer;
  }
}
</style>
