<template>
  <div class="regiister-form container">
    <div class="col register-form-content">
        <div class="col-12">
          <h1 class="header">REGISTER</h1>
        </div>
        <vue-text-field :hasError="$v.email.$error" :errorMessage="emailErrorMessage" name="email" v-model="email" label="Email"></vue-text-field>
        <vue-text-field :hasError="$v.password.$error" errorMessage="Password is required" type="password" name="password" v-model="password" label="Password"></vue-text-field>
        <vue-text-field :hasError="$v.confirmPassword.$error" :errorMessage="confirmPasswordErrorMessage" type="password" name="confirmPassword" v-model="confirmPassword" label="Confirm Password"></vue-text-field>
        <div class="col-12 regiister-button">
          <vue-button :disabled="loading" @click="register" width="460px">REGISTER</vue-button>
        </div>
        <div class="col12 has-account">
          <!-- @TODO REDIRECT TO regiister -->
          <p @click="$router.push({name: 'Login'})">Already have an account?&nbsp;<span><strong><a>LOGIN HERE</a></strong></span></p>
        </div>
    </div>
  </div>
</template>
<script>
import {mapState} from 'vuex';
import { required, sameAs, email } from 'vuelidate/lib/validators'

export default {
  data() {
    return {
      email: '',
      password: '',
      confirmPassword: '',
      showModal: false,
      message: ''
    }
  },
  computed: {
    ...mapState({
      loading: state => state.users.loading
    }),
    emailErrorMessage() {
      let message = !this.$v.email.required ? 'Email is required' : (!this.$v.email.email ? 'Email is not valid!' : '');
      return message;
    },
    confirmPasswordErrorMessage() {
      let message = !this.$v.confirmPassword.required ? 'Confirm Password is required' : (!this.$v.confirmPassword.samePassword ? 'Password is not the same!' : '');
      return message;
    }
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    },
    confirmPassword: {
      required,
      sameAsPassword: sameAs('password')
    }
  },
  methods: {
    async register() {
      this.$v.$touch();

      if (this.$v.$pending || this.$v.$error) {
        return;
      }

      try {
        // REGISTER THE USER AND IF SUCCESS LOGIN AND IF SUCCESS REDIRECT TO HOME PAGE
        let response = await this.$store.dispatch('users/register', {email: this.email, password: this.password})
        await this.$store.dispatch('users/authenticate', {email: this.email, password: this.password})
        this.$router.push({name: 'Home'})
      } catch(err) {
        this.reset();
        throw err;
      }
    },
    // RESET THE FORM
    reset() {
      this.$v.$reset();
      this.confirmPassword = '';
      this.password = '';
      this.email = '';
    }
  },
}
</script>
<style lang="scss">
.regiister-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  .register-form-content {
    max-width: 460px;
  }
  .header {
    text-align: left;
    font-size: 1.875em;
    margin: 0 0 48px;
    color: #101010;
    // margin-bottom: 48px;
  }
  .regiister-button {
    text-align: left;
  }
  .has-account {
    margin: 35px 0;
    font-size: 1.125em;
    cursor: pointer;
  }
}
</style>
