<template>
  <div id="app">
    <error-boundary>
      <default-layout></default-layout>
    </error-boundary>
  </div>
</template>
<script>
import DefaultLayout from '@/components/layouts/Default.vue'

export default {
  components: {
    DefaultLayout
  }
}
</script>
<style lang="scss">
body {
  margin: 0;
  height: 100%;
  letter-spacing: 2px;
  button {
    letter-spacing: 2px;
  }

  font-size: 16px;

  h1 {
    font-size: 1.875em;
  }

  h2 {
    font-size: 1.75;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.8em;
  }

  p {
    font-size: 1em;
  }
}

.wrapper {
   height: 100vh;
   display: grid;
}

.content {
  margin-top: 100px;
  overflow-y: scroll;
}

.container {
  padding:  0 123px;
  hr {
    color: #707070;
    box-shadow: 1px  #000000
  }
}

#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.home {
  .home-content {
    height: 87vh;
  }
}

/* W3SCHOOLS RESPONSIVE COL */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

// VUE SAMPLE TRANSITIONS
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

</style>
