<template>
  <div class="home">
    <div class="home-content">
      <Carousel slideShow interval=5000 :items="items"></Carousel>
    </div>
    <news></news>
  </div>
</template>

<script>
// @ is an alias to /src
import Carousel from '@/components/core/Carousel.vue'
import News from '@/components/news/NewsList.vue';
// USE LIBRARY TO LOAD RAW TEXT FOR TESTING PURPOSE ONLY LOAD STATIC BASE 64 IMAGE
import carouselImageStatic from '!raw-loader!@/assets/carousel-image-static-base64.txt'
export default {
  name: 'Home',
  components: {
    Carousel,
    News,
  },
  data() {
    return {
      items: [
        {img: carouselImageStatic, header: 'サンプルテキスト <br> サンプル ルテキスト <br>サンプルテキスト', subHeader: '2019.06.19'},
        {img: carouselImageStatic, header: 'サンプルテキスト <br> サンプル ルテキスト <br>サンプルテキスト', subHeader: '2019.07.19'},
        {img: carouselImageStatic, header: 'サンプルテキスト <br> サンプル ルテキスト <br>サンプルテキスト', subHeader: '2019.08.19'},
        {img: carouselImageStatic, header: 'サンプルテキスト <br> サンプル ルテキスト <br>サンプルテキスト', subHeader: '2019.09.19'},
        {img: carouselImageStatic, header: 'サンプルテキスト <br> サンプル ルテキスト <br>サンプルテキスト', subHeader: '2019.10.19'},
        {img: carouselImageStatic, header: 'サンプルテキスト <br> サンプル ルテキスト <br>サンプルテキスト', subHeader: '2019.11.19'},
        {img: carouselImageStatic, header: 'サンプルテキスト <br> サンプル ルテキスト <br>サンプルテキスト', subHeader: '2019.12.19'},
      ]
    }
  }
}
</script>
