<template>
  <div class="home">
    <div class="home-content">
      <login-form></login-form>
    </div>
    <!-- <div style="height: 1000px"></div> -->
    <news></news>
  </div>
</template>

<script>
// @ is an alias to /src
import News from '@/components/news/NewsList.vue'
import LoginForm from '@/components/Login.vue'

export default {
  name: 'Home',
  components: {
    News,
    LoginForm
  },
  data() {
    return {
    }
  }
}
</script>
