<template>
  <div class="post-single">
    <post></post>
  </div>
</template>

<script>
// @ is an alias to /src
import Post from '@/components/posts/Post.vue'

export default {
  name: 'Home',
  components: {
    Post
  },
  data() {
    return {
    }
  }
}
</script>
