<template>
  <div class="home">
    <div class="home-content">
      <register-form></register-form>
    </div>
    <!-- <div style="height: 1000px"></div> -->
    <news></news>
  </div>
</template>

<script>
// @ is an alias to /src
import News from '@/components/news/NewsList.vue'
import RegisterForm from '@/components/Register.vue'

export default {
  name: 'Home',
  components: {
    News,
    RegisterForm
  },
  data() {
    return {
    }
  }
}
</script>
