<template>
  <div class="comment-form">
    <div class="col-12">
      <vue-textarea :hasError="$v.comment.$error" errorMessage="Comment cannot be left empty." v-model="comment" placeholder="Write a comment"></vue-textarea>
      <!-- <textarea name="" v-model="comment" placeholder="Write a comment" id="" cols="30" rows="10"></textarea> -->
    </div>
    <div class="col-12 comment-action">
      <vue-button @click="submitComment" class="submit">SUBMIT</vue-button>
    </div>
  </div>
</template>
<script>
import { required } from 'vuelidate/lib/validators'

export default {
  props: {
    postId: {
      type: [String, Number],
      required: true
    }
  },
  data() {
    return {
      comment: ''
    }
  },
  validations: {
    comment: {
      required,
    },
  },
  methods: {
    async submitComment() {
      this.$v.$touch();

      if (this.$v.$pending || this.$v.$error) {
        return;
      }

      try {
        await this.$store.dispatch('comments/addComment', {postId: this.postId, comment: this.comment})
        this.reset();
      } catch(err) {
        console.log(err);
        this.reset();
        throw err;
      }
    },
    reset() {
      this.$v.$reset();
      this.comment = '';
    }
  }
}
</script>
<style lang="scss">
.comment-form {
  display: flex;
  flex-wrap: wrap;
  >div {
    display: flex;
  }
  textarea {
    flex-grow: 1;
    width: 100%;
    font-size: 1.1875em;
    padding: 40px;
    height: 200px;
    &::placeholder {
      font-style: italic;
    }
  }
  .comment-action {
    display: flex;
    justify-content: flex-end;
    .submit {
      margin: 60px 0 20px;
    }
  }

}
</style>
