<template>
  <div class="comment-card">
    <div class="comment-card-content">
      <p class="comment-card-summary" v-html="$_.get(comment, 'content')"></p>
      <span class="date">{{$_.get(comment, 'createdAt') | humanizeDate}}</span>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    comment: {
      type: Object,
      required: true
    }
  }
}
</script>
<style lang="scss">
.comment-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  // padding: 60px 0 50px;
  margin-bottom: 50px;
  background-color: #f5f5f5;
  .comment-card-content {
    margin: 50px 40px;
    .comment-card-summary {
      line-height: 40px;
      margin: 0;
      font-size: 1.125em;
      font-weight: 600;
      padding-bottom: 19px;
    }
    .date {
      font-size: 1em;
      font-weight: 800;
      ::first-letter {
        text-transform: capitalize;
      }
    }
  }
}
</style>
