<template>
  <div class="comment-content container">
    <div class="col-12">
      <p class="header">COMMENT</p>
    </div>
    <div class="col-12" v-for="(comment, index) in comments" :key="index">
      <comment-card :comment="comment"></comment-card>
    </div>
    <div class="col-12" v-if="comments.length === 0">
      <comment-card :comment="{content: 'No Comment'}"></comment-card>
    </div>
    <div class="col-12">
      <comment-form v-bind="$attrs"></comment-form>
    </div>
  </div>
</template>
<script>
import CommentCard from './CommentCard'
import CommentForm from './CommentForm'
export default {
  components: {
    CommentCard,
    CommentForm
  },
  props: {
    comments: {
      type: Array,
      required: true
    }
  }
}
</script>
<style lang="scss">
.comment-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
  padding-bottom: 120px;
  .header {
    // @TODO USE EM
    font-size: 3.125em;
    margin: 39px 0;
    font-weight: 700;
    color: #101010;
  }
}
</style>
