<template>
  <div>
    <post-bread-crumb :title="$_.get(post, 'title')"></post-bread-crumb>
    <div class="col-12">
        <div class="post-action container">
          <p v-if="isAuthenticated" @click="$router.push({name: 'PostEdit', params: {id: $_.get(post, 'id')}})" class="edit-post">Edit Post</p>
        </div>
      </div>
    <div class="post-content container">
      <div class="col-12">
        <p class="created-at">{{$_.get(post, 'createdAt') | date}}</p>
      </div>
      <div class="col-12">
        <p class="title" v-html="$_.get(post, 'title')"></p>
      </div>
      <div class="col-12 post-image" v-if="$_.get(post, 'image')">
        <img :src="$_.get(post, 'image')" alt="">
      </div>
      <div class="col-12 post-summary">
        <p v-html="$_.get(post, 'content')"></p>
        </div>
    </div>
    <div class="container divider">
      <hr>
    </div>
    <comment-list :postId="postId" :comments="comments"></comment-list>
  </div>
</template>
<script>
import {mapState} from 'vuex';

import PostBreadCrumb from './PostBreadCrumb'
import CommentList from '../comments/CommentList'

export default {
  components: {
    PostBreadCrumb,
    CommentList
  },
  computed: {
    ...mapState({
      post: state => state.posts.item,
      comments: state => state.comments.items,
      isAuthenticated: state => state.users.isAuthenticated
    }),
    postId() {
      return this.$_.get(this.$route, 'params.id', null)
    }
  },
  methods: {
    async fetch(params) {
      try {
        await this.$store.dispatch('posts/getPost', this.$route.params)
        await this.$store.dispatch('comments/fetchComments', this.$route.params)
      } catch(err) {
        console.log(err, 'error me');
        this.$router.push({path: '/404'})
      }
    },
  },

  async created() {
    await this.fetch();
  }
}
</script>
<style lang="scss">
.post-action {
  display: flex;
  justify-content: flex-end;
  // padding: 30px 123px
  padding-top: 30px;
  padding-bottom: 30px;
  .edit-post {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.25em;
    text-align: right;
    border: 0px;
    background: 0;
    outline:none;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
    color: #101010;
  }
}
.post-content {
  display: flex;
  align-items: flex-start;
  padding: 10px 123px 120px;
  flex-wrap: wrap;
  text-align: left;
  .created-at {
    margin: 0;
    font-size: 1.25em;
    font-weight: 500;
    letter-spacing: 3px;
  }
  .title {
    font-size: 2.5em;
    font-weight: 700;
    margin: 34px 0 47px;
  }
  .post-image {
    img {
      width: 100%;
      max-height: 540px;
    }
  }
  .post-summary {
    line-height: 40px;
    margin: 0;
    font-size: 1.125em;
    font-weight: 500;
    p {
      margin: 0;
    }
  }
}
</style>
