<template>
  <div>
    <post-bread-crumb :title="breadCrumbTitle"></post-bread-crumb>
    <div class="post-content-manage container">
      <div class="col-12">
        <div class="post-content-manage-action">
          <button :disabled="loading" @click="savePost" style="padding: 0 60px;">Save Post</button>
          <button @click="cancelPost">Cancel</button>
        </div>
      </div>
      <div class="col-12">
        <p class="created-at">{{createdAt | date}}</p>
      </div>
      <div class="col-12">
        <vue-textarea :hasError="$v.post.title.$error" errorMessage="Title is required." v-model="post.title" height="100px" padding="20px" placeholder="Title" class="title"></vue-textarea>
      </div>
      <div class="col-12 post-image">
        <upload-image v-model="post.image"></upload-image>
      </div>
      <div class="col-12">
        <vue-textarea :hasError="$v.post.content.$error" errorMessage="Content is required." v-model="post.content" height="400px" padding="20px" placeholder="Content" class="post-summary"></vue-textarea>
        </div>
    </div>
    <div v-if="postId">
      <div class="container divider">
        <hr>
      </div>
      <comment-list :postId="postId" :comments="$_.get(post, 'comments', [])"></comment-list>
    </div>
    <!-- SIMPLE CONFIRM MODAL FOR CANCEL CONFIRMATION-->
    <vue-modal height="200px" v-model="showConfirmModal">
      <h4>
        There was changes on the post are you sure you want to cancel?
      </h4>
      <template slot="action">
        <div class="modal-action" >
          <button @click="redirect" :style="{'background-color': '#101010', 'color': 'white'}">Yes</button>
          <button @click="showConfirmModal = false">No</button>
        </div>
      </template>
    </vue-modal>
  </div>
</template>
<script>
import {mapState} from 'vuex';
import moment from 'moment';
import { required } from 'vuelidate/lib/validators'

import PostBreadCrumb from './PostBreadCrumb'
import CommentList from '../comments/CommentList'
import UploadImage from '../core/UploadImage'

export default {
  components: {
    PostBreadCrumb,
    CommentList,
    UploadImage
  },
  data() {
    return {
      post: {
        title: '',
        content: '',
        image: '',
      },
      initialPost: {
        title: '',
        content: '',
        image: '',
      },
      showConfirmModal: false
    }
  },
  validations: {
    post: {
      title: {
        required
      },
      content: {
        required
      }
    },
  },
  computed: {
    ...mapState({
      currentPost: state => state.posts.item,
      loading: state => state.posts.loading
    }),
    postId() {
      return this.$_.get(this.$route, 'params.id', null)
    },
    createdAt() {
      return this.$_.get(this.currentPost, 'createdAt', moment(new Date()));
    },
    breadCrumbTitle() {
      return this.postId ? this.currentPost.title : 'Create New Post'
    }
  },
  methods: {
    async fetch(params) {
      try {
        await this.$store.dispatch('posts/getPost', this.$route.params)
      } catch(err) {
        console.log(err, 'error me');
        this.$router.push({path: '/404'})
      }
    },
    async savePost() {
      this.$v.$touch();

      if (this.$v.$pending || this.$v.$error) {
        return;
      }

      try {
        let post = {}
        if (this.$_.get(this.post, 'postId')) {
          post = await this.$store.dispatch('posts/updatePost', this.post)
        } else {
          post = await this.$store.dispatch('posts/addPost', this.post)
        }

        this.$router.push({name: 'Post', params: {id: this.$_.get(post, 'id')}})
      } catch(err) {
        console.log(err);
        throw err;
      }
    },
    cancelPost() {
      if(!(this.$_.isEqual(this.initialPost, this.post))) {
        this.showConfirmModal = true;
      } else {
        this.redirect();
      }
    },
    setCurrentPost() {
      let currentPost = this.$_.clone(this.currentPost);
      this.post.title = currentPost.title;
      this.post.content = currentPost.content;
      this.post.image = currentPost.image;
      this.initialPost = this.$_.clone(this.post);
    },
    redirect() {
      if(this.postId) {
        this.$router.push({name: 'Post', params: {id: this.postId}})
      } else {
        this.$router.push({name: 'Home', params: {id: this.postId}})
      }
    }
  },

  async created() {
    if (this.postId) {
      await this.fetch();
      this.setCurrentPost();
    }
  }
}
</script>
<style lang="scss">
.post-content-manage {
  display: flex;
  align-items: flex-start;
  padding: 30px 123px 120px;
  flex-wrap: wrap;
  text-align: left;
  .post-content-manage-action {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0;
    button {
      font-size: 1.25em;
      text-align: right;
      border: 0px;
      background: 0;
      outline:none;
      text-decoration: underline;
      cursor: pointer;
      font-weight: 600;
    }
  }
  .created-at {
    margin: 0;
    font-size: 1.25em;
    font-weight: 500;
    letter-spacing: 3px;
  }
  .title {
    font-size: 2.5em !important;
    font-weight: 700 !important;
    margin: 34px 0 10px;
    ::placeholder {
      font-style: normal;
    }
  }
  .post-summary {
    line-height: 40px;
    margin: 0;
    font-size: 1.125em !important;
    font-weight: 500 !important;
    ::placeholder {
      font-style: normal;
    }
  }
  .post-image {
    padding: 10px 0 30px;
  }
}
</style>
