<template>
  <div class="post-breadcrumb container">
    <ul class="breadcrumb">
      <li @click="$router.push({name: 'Home'})"><a href="#">HOME</a></li>
      <li>{{title}}</li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    }
  }
}
</script>
<style lang="scss">
.post-breadcrumb {
  height: 80px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  .breadcrumb {
    // cursor: pointer;
    margin: 0;
    padding: 0;
    li {
      color: #101010;
      display: inline;
      font-size: 1em;
      font-weight: 500;
      a {
        color: #101010;
        text-decoration: none;
      }
    }

    li+li:before {
      padding: 8px;
      color: black;
      content: ">";
      font-size: 1em;
    }
  }
}
</style>
