<template>
  <div class="news container">
    <div class="header">
      <h3 class="headline">NEWS</h3>
      <p v-if="isAuthenticated" @click="$router.push({name: 'PostNew'})" class="new-post">Create New Post</p>
    </div>
    <div class="news-content">
      <!-- @TODO LOAD DYNAMICALLY -->
      <div class="col col-4 card" v-for="(item, index) in items" :key="index">
        <news-card :post="item"></news-card>
      </div>
    </div>
      <div class="load-more col-12">
        <vue-button @click="loadMore" :disabled="loading || allItemsLoaded">LOAD MORE</vue-button>
      </div>
  </div>
</template>
<script>
import {mapState} from 'vuex'
import NewsCard from './NewsCard';
export default {
  components: {
    NewsCard
  },
  data() {
    return {
      offset: 0,
      limit: 6,
      page: 1
    }
  },
  computed: {
    ...mapState({
      items: state => state.posts.items,
      loading: state => state.posts.loading,
      allItemsLoaded: state => state.posts.allItemsLoaded,
      isAuthenticated: state => state.users.isAuthenticated
    })
  },
  methods: {
    async loadMore() {
      this.offset = this.limit * this.page;
      this.page++;
      await this.fetch();
    },
    async fetch() {
      await this.$store.dispatch('posts/fetchPosts', {limit: this.limit, offset: this.offset});
    }
  },
  async created() {
    await this.$store.commit('posts/SET_ITEMS', [])
    await this.fetch();
  }
}
</script>
<style lang="scss">
 .news {
    padding: 0 123px 123px;
    .card {
      display: flex;
      justify-content: center;
    }
    .card:nth-child(3n + 1) {
      display: flex;
      justify-content: flex-start;
    }
    // .card:nth-child(3n + 2) {
    //   .news-card {
    //     margin: 0 24px;
    //   }
    // }
    .card:nth-child(3n + 3) {
      justify-content: flex-end;
    }

    .header {
     margin: 90px 0 70px 18px;
     display: flex;
     justify-content: flex-start;
    .headline {
      margin: 0;
      font-size: 3.125em;
      text-align: left;
      font-weight: 700;
      color: #101010
    }
    .new-post {
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 1.25em;
      text-align: right;
      border: 0px;
      background: 0;
      outline:none;
      text-decoration: underline;
      cursor: pointer;
      font-weight: 700;
      color: #101010;
    }
  }

  .news-content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .col {
      padding-bottom: 60px;
      margin: 0;
    }

  }

  .load-more {
    padding-top: 10px;
  }
 }
</style>
