<template>
<!-- @TODO REDIRECT TO POST -->
  <div class="news-card" @click="redirectToPost">
    <div class="news-card-content">
      <img v-if="$_.get(post, 'image')" :src="$_.get(post, 'image', '@/assets/default-news.png')" alt="">
      <p class="time">{{$_.get(post, 'createdAt', '') | date}}</p>
      <div class="news-card-title">
        <p class="title" v-html="$_.get(post, 'title')">
        </p>
      </div>
    </div>
  </div>
</template>
<script>
import _ from 'lodash';

export default {
  props: {
    post: {
      type: Object,
      default: () => {},
      required: true
    }
  },
  methods: {
    redirectToPost() {
      this.$router.push({name: 'Post', params: {id: this.$_.get(this.post, 'id')}})
    }
  }
}
</script>
<style lang="scss">
  .news-card {
    cursor: pointer;
    display: flex;
    height: 430px;
    width: 340px;
    // margin: 0 25px;
    border: 1px solid black;
    img {
      width: 100%;
      height: 200px;
    }
    .news-card-content {
      width: 100%;
      margin: 40px 30px 23px;
      .news-card-title {
        p {
          overflow : hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }
      .time {
        font-size: 1em;
        font-weight: 700;
        text-align: left;
      }
      .title {
        font-size: 1.25em;
        font-weight: 700;
        text-align: left;
        margin: 0;
      }
    }
    // @media  screen and (min-width: 1920px) {
    //     /* insert styles here */
    //     width: 100%;
    // }
  }
</style>
