<template>
  <div class="default-layout wrapper">
    <top-bar></top-bar>
    <!-- <Carousel height="666px" :items="[{img: '@/assets/carousel1.png', header: 'サンプルテキスト <br> サンプル ルテキスト <br>サンプルテキスト', subHeader: '2019.06.19'},
    {img: '@/assets/carousel1.png', header: 'サンプルテキスト <br> サンプル ルテキスト <br>サンプルテキスト', subHeader: '2019.07.19'},
    {img: '@/assets/carousel1.png', header: 'サンプルテキスト <br> サンプル ルテキスト <br>サンプルテキスト', subHeader: '2019.08.19'}
    ]"></Carousel> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <div ref="content" class="content">
      <transition
        name="fade"
        mode="out-in"
        @beforeLeave="beforeLeave"
        @enter="enter"
        @afterEnter="afterEnter"
       >
        <router-view></router-view>
       </transition>
      <Footer></Footer>
      <Copyright></Copyright>
    </div>

  </div>
</template>
<script>
// @ is an alias to /src
import TopBar from '@/components/core/TopBar.vue'
import Footer from '@/components/core/Footer.vue'
import Copyright from '@/components/core/Copyright.vue'

export default {
  name: 'Home',
  data() {
    return {
      prevHeight: 0
    }
  },
  components: {
    TopBar,
    Footer,
    Copyright,
  },
  methods: {
    beforeLeave(element) {
      this.prevHeight = getComputedStyle(element).height;
    },
    enter(element) {
      const { height } = getComputedStyle(element);

      element.style.height = this.prevHeight;

      setTimeout(() => {
        element.style.height = height;
      });
    },
    afterEnter(element) {
      element.style.height = 'auto';
      let content = this.$el.querySelector(".content");
      this.intervalId = setInterval(() => {
      if (window.pageYOffset === 0) {
        clearInterval(this.intervalId)
      }
      content.scroll(0, window.pageYOffset - 50)
      }, 20)
    },
  },
}
</script>
